{% extends 'base.html.twig' %}

{% block title %} UDOIT {% endblock %}

{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div id="root">
    <div style="width:200px; margin: 200px auto; text-align: center;">
        <img style="width: 100%" src="{{ asset('build/static/udoit_logo.svg') }}" alt="Loading UDOIT" /> 
        <p class="splash-text" style="font-size: 1.5em; color: #555;">{{ data.settings.labels['label.loading'] }}...</p>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="application/json" id="toolSettings">{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</script>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
