<html>
<body>
<style>
table {
    width: 100%;
    padding: 0;
    margin: 0;
}
td, th {
    padding: 10px;
}

.issue-table {
    margin: 10px 0 0 0;
}
.issue-table thead th {
    border-bottom: 1px solid #666;
}
.issue-table tbody td {
    border-bottom: 1px solid #CFCFCF;
}
.issue-table th {
    text-align: left;
}
.issue-table td.key {
    width: 90%;
}
.issue-table td.count {
    text-align: center;
}
.content-item {
    background-color: #F8F8F8;
    padding: 20px;
    margin: 30px 0;
}
.item-title {
    text-transform: uppercase;
}
</style>
{% block title %}<h1 style="text-align: center">UDOIT Report</h1>{% endblock %}

{% block body %}
    <h2>{{ course.getTitle() }}</h2>
    <small>{{ report.getCreated()|date('Y-m-d') }}</small>
    <br/>
    <br/>
    <hr/>
    <table width="100%" style="text-align: center">
        <thead>
            <tr>
                <th>{{ labels['label.plural.error'] }}</th>
                <th>{{ labels['label.plural.suggestion'] }}</th>
                <th>{{ labels['label.content_fixed'] }}</th>
                <th>{{ labels['label.content_resolved'] }}</th>
                <th>{{ labels['label.files_reviewed'] }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ report.errors }}</td>
                <td>{{ report.suggestions }}</td>
                <td>{{ report.contentFixed }}</td>
                <td>{{ report.contentResolved }}</td>
                <td>{{ report.filesReviewed }}</td>
            </tr>
        </tbody>
    </table>    
    <hr/>
    <br/>
    {% for row in content %}
        <div class="content-item">
            <div>
                <div class="item-title"><strong>{{ row.title }}</strong></div>
                <em><small>{{ row.type }}</small></em>             
            </div>
            {% if row.issues.error %}
            <table class="error-table issue-table">
                <thead>
                    <tr>
                        <th>{{ labels['label.plural.error']}}</th>
                        <th></th>
                    </tr>
                </thead>
                {% for key, count in row.issues.error %}
                    <tr>
                        <td class="key">{{ labels["rule.label.#{key}"] }}</td>
                        <td class="count">{{ count }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if row.issues.suggestion %}
            <table class="suggestion-table issue-table">
                <thead>
                    <tr>
                        <th>{{ labels['label.plural.suggestion']}}</th>
                        <th></th>
                    </tr>
                </thead>
                {% for key, count in row.issues.suggestion %}
                    <tr>
                        <td class="key">{{ labels["rule.label.#{key}"] }}</td>
                        <td class="count">{{ count }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
</body>
</html>